/* =========== Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
/* =========== Browser Reset ============ */
:root {
  /* Color Variables */
  --primary: #ffc400;
  --blue: #1349c6;
  --red: #e31917;
  --text-1: #0f2341;
  --text-2: #a9a9a9;
  --white: #fff;
  --shadow-300: 0 5px 5px rgba(0, 0, 0, 0.3);
  --shadow-500: 0 5px 5px rgba(0, 0, 0, 0.5);
  --transition-300: all 300ms ease-in-out;
  --transition-500: all 500ms ease-in-out;

  --main-color: #d3ad7f;
  --hamburger: #6bd8d1;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  --blue-dark: #162235;
  --box-shadow: 0 0 2rem #fff, 0 0 2rem #6bd8d1;

  --blue2: #0067b8;
  --blue-clear: #547ec7;
  --white: #fff;
  --green-logo: #5ebab8;
  --shadow-blur: 2px 2px 10px #d3ad7f, -2px -2px 10px #fff;
  --header: #132235;
  --background: #fefefe;
  --black: #13131a;
  --bg: #010103;
  --background-facebook: #dadef0;

  --blue-dark: #141c2c;
  --blue-face: #1349c6;
  --blue-twitter: #28a0d5;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 1.2rem;
  height: 0.25px;
}
html::-webkit-scrollbar-track {
  /* background: transparent; */
  background: inset 0 0 5px #a5aaad;
}
html::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 5rem;
}
html::-webkit-scrollbar-thumb:hover {
  background: var(--red);
  cursor: pointer;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--white);
  color: var(--text-1);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: var(--text-1);
}

p {
  color: var(--text-2);
  line-height: 1.5;
}

img,
video {
  width: 100%;
  height: 100%;
}
section {
  padding: 2rem 7%;
}
/* =========== Custom Classes ============ */
.d-flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.section {
  margin: 5rem 0;
  padding: 10rem 0 5rem;
  overflow: hidden;
}

.title {
  margin-bottom: 2rem;
}

.title h1 {
  font-size: 4rem;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

@media (max-width: 567px) {
  html {
    font-size: 50%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  html {
    font-size: 40%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  .title h1 {
    font-size: 3rem;
  }

  .section {
    margin: 5rem 0;
    padding: 5rem 0 0;
  }
}

/* =========== Navigation ============ */

.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 0;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999999;
  padding: 1rem 0;
}

.nav {
  max-width: 996px;
  margin: 0 auto;
  padding: 0 2rem;
  justify-content: space-between;
}

.logo img {
  width: 8rem;
  height: 8rem;
}

.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-link {
  display: inline-block;
  padding: 1rem;
  color: var(--white);
  position: relative;
}
.nav-link.active{
  color: var(--blue);
  font-weight: 600;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    #fff 20%,
    #65c7f7 40%,
    #0052d4 60%,
    #fff 80%
  );;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.btn1 {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  /* padding: 1rem 2rem; */
  padding: 1rem 1.5rem;
  transition: var(--transition-300);
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
  background: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 0.5rem;
  min-width: 12.5rem;
  color: #fff;
  z-index: 1;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.3s;
}

.btn1::before {
  content: " ";
  position: absolute;
  display: block;
  top: 0;
  left: -50px;
  width: 70%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #ffffff71, transparent);
  transition: all 1s;
  z-index: 1;
  transform: translateX(-120px) skew(-20deg);
}
.btn1:hover::before {
  transform: translateX(300px) skew(-20deg);
}
.btn1:hover {
  background: var(--red);
  border: 1px solid var(--red);
}


/* .btn:active {
  transform: translateY(0);
}

.btn.sign-up {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 1px solid #fff;
  transition: var(--transition-300);
}

.btn.sign-up:hover {
  background-color: var(--primary);
  border-color: var(--primary);
} */

/*btn2 */
.btn2 {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  padding: 1rem 2rem;
  border: 0.2rem solid var(--blue);
  color: var(--blue);
  font-weight: 700;
  width: 1005;
  cursor: pointer;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  text-decoration: none;
  /* margin-top: 1rem; */
}
.btn2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: var(--blue);
  transition: 0.3s linear;
  z-index: -1;
}
.btn2:hover::before {
  width: 100%;
  left: 0;
}
.btn2:hover {
  color: #fff;
}

.navigation.fix {
  position: fixed;
  background-color: var(--text-1);
}

.hamburger #menu-btn {
  display: none;
}

@media (max-width: 920px) {
  html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  .btn.sign-up {
    display: none;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: -100%;
    width: 0;
    height: 100%;
    max-width: 80%;
    padding: 3rem 0;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: var(--shadow-300);
    transition: var(--transition-500);
  }

  .nav-list.open {
    left: 0;
    width: 50%;
  }

  .nav-list .nav-item {
    margin: 1rem;
  }

  .nav-list .nav-link {
    font-size: 2rem;
    width: 100%;
    padding: 1rem;
    color: var(--text-1);
    font-weight: 500;

    position: relative;
  }
  .nav-list .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--text-1);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }
  .nav-list .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .hamburger {
    display: flex;
    color: var(--red);
    font-size: 3.5rem;
  }
  .hamburger:hover {
    color: var(--blue);
    cursor: pointer;
  }
  .hamburger #menu-btn {
    display: block;
  }

  .logo img {
    width: 5rem;
    height: 5rem;
  }
}

/* =========== Home ============ */

.swiper-container {
  width: 100%;
  height: 100%;
}

.header .swiper-slide img,
.header .swiper-slide video {
  height: 100vh;
  object-fit: cover;
}

.header .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 70%;
  text-align: center;
}

.header .content h1 {
  font-size: 7rem;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 2rem;
  background: linear-gradient(
    to right,
    #fff 20%,
    #65c7f7 40%,
    #0052d4 60%,
    #fff 80%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: animate 2s linear infinite;
}
@keyframes animate {
  to {
    background-position: 200% center;
  }
}

.header .arrows {
  position: absolute;
  bottom: 0.5%;
  right: 0;
  z-index: 100;
  background-color: var(--white);
  width: 30rem;
  padding: 2rem;
  justify-content: center;
}

.header .swiper-icon {
  font-size: 4rem;
}

.header .swiper-next,
.header .swiper-prev {
  justify-content: center;
  background-color: #1349c6;
  color: var(--white);
  width: 10rem;
  height: 5rem;
  cursor: pointer;
}

.header .swiper-next.swiper-button-disabled,
.header .swiper-next.swiper-button-disabled {
  opacity: 0.7;
  cursor: default;
}

.header .swiper-prev {
  margin-right: 2rem;
}

@media (max-width: 996px) {
  html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  .header .content h1 {
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  .header .swiper-next,
  .header .swiper-prev {
    width: 6rem;
    height: 6rem;
  }
}

@media (max-width: 567px) {
  html {
    font-size: 50%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  .nav .btn1 {
    font-size: 1.2rem;
    padding: 1rem;
  }
  .btn2:not(.second) {
    width: 100%;
  }
  .header .content {
    width: 100%;
  }

  .header .content h1 {
    width: 100%;
    font-size: 4rem;
  }

  .header .arrows {
    width: 25rem;
    padding: 0.5rem;
  }
  .btn1 {
    width: 4rem;
    font-size: 1.5rem;
  }
}

/* =========== About ============ */
.about .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  align-items: center;
}

.about .swiper-container {
  height: 50rem;
  width: 50rem;
}

.about .swiper-wrapper {
  height: 100% !important;
}

.about .swiper-slide {
  height: 100% !important;
}

.about .col p {
  margin-bottom: 3rem;
}

.about .col img,
.about .col video {
  object-fit: cover;
  height: 100%;
}

.about .swiper-button-next::after,
.about .swiper-button-prev::after {
  content: "";
}

.about .swiper-button-next,
.about .swiper-button-prev {
  top: auto;
  bottom: 0.1%;
  background-color: var(--white);
  width: 5rem;
}

.about .swiper-button-next {
  right: 20px;
}

.about .swiper-button-prev {
  left: auto;
  right: 70px;
}

.about .swiper-icon {
  font-size: 3rem;
}

@media (max-width: 996px) {
  .about .swiper-container {
    height: 30rem;
    width: 35rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  .about .row {
    grid-template-columns: 1fr;
  }

  .about .swiper-container {
    height: 40rem;
    width: 45rem;
  }
}

@media (max-width: 567px) {
  html {
    font-size: 50%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  .about .swiper-container {
    height: 25rem;
    width: 30rem;
  }
}
/* =========== Service ============ */
.service .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  gap: 5rem;
}

.service .row img {
  height: 45rem;
}

.service .col p {
  margin-bottom: 3rem;
  line-height: 2rem;
}

.service .d-flex {
  justify-content: space-between;
  /* margin-bottom: 3rem; */
  line-height: 2rem;
}

.section .col .rating span {
  color: var(--primary);
  text-align: center;
}

@media (max-width: 768px) {
  .service .row {
    grid-template-columns: 1fr;
  }
}
/* =========== Discount ============ */
.discount {
  position: relative;
  height: 60rem;
}

.discount .overlay {
  position: relative;
  height: 100%;
}

.discount .overlay::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--text-1);
  opacity: 0.5;
}

.discount video {
  object-fit: cover;
}

.discount .content {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}

.discount .content h1 {
  font-size: 5rem;
  color: var(--white);
  margin-bottom: 3rem;
}

.discount .content span {
  justify-content: center;
  border: 2px solid var(--white);
  border-radius: 50%;
  color: var(--white);
  font-size: 4rem;
  width: 7rem;
  height: 7rem;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 3rem;
}

@media (max-width: 567px) {
  html {
    font-size: 50%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  .discount {
    height: 50rem;
  }

  .discount .content {
    top: 50%;
    width: 100%;
  }

  .discount .content h1 {
    font-size: 3.5rem;
  }

  .discount .content .btn {
    padding: 1rem;
  }

  .discount .content span {
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
  }
}
/* =========== Trip ============ */
.trip {
  overflow: hidden;
}

.trip .title {
  text-align: center;
  margin-bottom: 7rem;
}

.trip .title h1 {
  font-size: 5rem;
  margin: 2rem;
}

.trip .title p {
  width: 50%;
  margin: 0 auto;
}

.trip .row {
  width: 95vw;
  position: relative;
}

.trip .swiper-container {
  width: 100%;
  height: 100%;
}

.trip .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 500px;
}

.trip .swiper-slide img {
  display: block;
  width: 100%;
}

.custom-next,
.custom-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #1349c6;
  color: var(--white);
  font-size: 2.5rem;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  justify-content: center;
  cursor: pointer;
}

.custom-next {
  right: -60px;
}
.custom-prev {
  left: -60px;
}

.custom-pagination {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-pagination-bullet {
  width: 30px;
  height: 7px;
  border-radius: 5px;
}

.swiper-pagination-bullet-active {
  background-color: #1349c6;
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 10px;
}

.trip .explore {
  text-align: center;
  margin-top: 8rem;
}

@media (max-width: 1200px) {
  .custom-next,
  .custom-prev {
    top: -15%;
    transform: translateY(0%);
  }

  .custom-next {
    right: 10px;
  }
  .custom-prev {
    left: auto;
    right: 70px;
  }
}

@media (max-width: 768px) {
  .trip .title p {
    width: 90%;
  }

  .trip .swiper-slide {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .trip .title h1 {
    font-size: 4rem;
  }
}

/* =========== More ============ */
.more .title {
  margin-bottom: 5rem;
}

.more .title p {
  margin-top: 2rem;
}

.more .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.more .row .tours {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  margin-bottom: 9rem;
}
.more .row .tours .box .video {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.more .col .btn {
  display: block;
  text-align: center;
}

.more .tours h3 {
  margin: 1rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.more img {
  object-fit: cover;
}

@media (max-width: 768px) {
  .more .row {
    grid-template-columns: 1fr;
  }
}

/* =========== Contact ============ */
.newsletter {
  background-color: var(--text-1);
  height: 30rem;
}

.newsletter .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
}

.newsletter .col h2,
.newsletter .col p {
  color: var(--white);
}

.newsletter .col h2 {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.newsletter .form div {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.newsletter .form input {
  width: 100%;
  outline: none;
  border: none;
  padding: 1.5rem 0;
  text-indent: 1rem;
  font-size: 1.7rem;
  border-radius: 5px;
}

.newsletter .form button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  outline: none;
  border: none;
  background-color: var(--text-1);
  color: var(--white);
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .newsletter .row {
    grid-template-columns: 1fr;
  }

  .newsletter .form div {
    width: 100%;
  }
}

@media (max-width: 567px) {
  .newsletter {
    height: 40rem;
    padding-bottom: 10rem;
  }
}

/* =========== Contact Us ============ */
.contact .title {
  text-align: center;
  margin-bottom: 5rem;
}

.contact .title p {
  width: 60%;
  margin: 2rem auto 0;
}

.location {
  height: 500px;
}
.location iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 567px) {
  html {
    font-size: 50%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  .contact .title p {
    width: 90%;
  }

  .location {
    height: 350px;
  }
}

/* =========== Footer ============ */
.footer {
  background-color: var(--text-1);
}

.footer .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 7rem 3rem;
}

.footer .row .col:last-child {
  display: grid;
  grid-template-columns: repeat(2, minmax(10rem, 1fr));
  gap: 2rem;
}
.footer .row .col .col-image {
  height: 10rem;
  overflow: hidden;
  outline: var(--border);
  /* outline-offset:-3px; */
}
.footer .row .col .col-image img {
  height: 10rem;
  transition: 0.5s;
  object-fit: cover;
}

.footer .row .col .col-image img:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.footer .row .col {
  display: flex;
  flex-direction: column;
}

.footer .row .col h3 {
  color: var(--white);
  margin-bottom: 2rem;
}

.footer .row .col a {
  display: inline-block;
  color: var(--white);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.footer .row .col a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 80%;
  height: 1px;
  background: var(--white);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.footer .row .col a:hover {
  transform: translateX(6px);
}
.footer .row .col a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

@media (max-width: 767px) {
  .footer .row {
    row-gap: 7rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 567px) {
  html {
    font-size: 50%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  .footer .row {
    gap: 4rem 0;
    grid-template-columns: 1fr;
  }
  .footer .credit {
    font-size: 1.2rem;
  }
}

/* footer final */
.footer-final {
  background: var(--text-1);
  text-align: center;
}

.footer-final .share {
  /* padding: 1rem 0; */
  border-bottom: 0.115rem solid rgba(255, 255, 255, 0.3);
}

.footer-final .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  border: var(--border);
  margin: 0 0.3rem;
  border-radius: 50%;

}

/* .footer-final .share a:hover {
  background-color: var(--white);
} */

/* .footer-final .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
} */

/* .footer-final .links a {
  text-decoration: none;
  padding: 0.7rem 2rem;
  color:var(--white);
  border: var(--border);
  font-size: 2rem;
  width: 7rem;
  transition: all 0.3s ease-in-out;
} */

/* .footer-final .links a:hover {
  background: var(--blue);
} */
/* animation icons */
.footer-final .share a:nth-child(1) {
  color: var(--blue-face);
  transform: translateY(-2px);
  transform: translateY(2px);
}
.footer-final .share a:nth-child(2) {
  color: var(--blue-twitter);
  transform: translateY(-2px);
}
.footer-final .share a:nth-child(3) {
  color: #9c47fc;
  transform: translateY(-2px);
  background: -webkit-linear-gradient(
    45deg,
    #f7ce02,
    #f96302,
    #f71102,
    #d32155,
    #b43890,
    #904eca,
    #8944bb,
    #7832ae
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.footer-final .share a:hover:nth-child(3){
  z-index:1;

}
.footer-final .share a:nth-child(4) {
  color: var(--blue);
  transform: translateY(-2px);
}


/* animation social */
.icon {
  display: inline-block;
  /* font-size: 44px; */
  animation: float 5s ease-in-out infinite;
}
.fa-facebook {
  animation-delay: 1s;
}
.fa-twitter {
  animation-delay: 2s;
}

.fa-instagram {
  animation-delay: 3s;
}
.fa-linkedin {
  animation-delay: 4s;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.footer-final .credit {
  font-size: 1.5rem;
  color: #fff;
  font-weight: lighter;
  padding: 1.5rem;
}

.footer-final .credit span {
  color: var(--green-logo);
  /* text-transform: capitalize; */
}

/* =========== Preloader ============ */

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  background-color: var(--white);
}

.loader img {
  width: 20rem;
  height: 20rem;
}
